<!DOCTYPE html>
<html>

    {{template "head.html" .}}

    <body>
        <div class='content'>
            {{template "header.html" .}}

            {{if not .Entry.Bref}}
            <h1>{{.Entry.Name | noescape}}</h1>
            {{else}}
            <h1>{{.Entry.Bref | noescape}}</h1>
            {{end}}

            {{if not .Entry.Date.IsZero}}
            <div style='color:#ccc'>last updated {{.Entry.Date | formatDate}}</div>
            {{end}}

            <section id='entry-body'>
            {{if gt (len .Entry.JrnlRecords) 0}}
                <div class="jrnl-record">
                {{$record := (index .Entry.JrnlRecords 0)}}
                {{template "jrnl.html" $record}}
                <em>
                    <a href="{{$record.Parent.Slug}}.html">{{$record.Description}}; <wbr>{{$record.Date}}</a>
                </em>
                </div>
            {{end}}
            {{.Entry.Body | noescape}}
            </section>

            {{if gt (len .Entry.JrnlRecords) 1}}
            <div id="jrnl-gallery">
                {{range $record := (slice .Entry.JrnlRecords 1)}}
                {{if or (eq $.Entry.Slug "jrnl") (eq $record.Parent.Slug $.Entry.Slug)}}
                <div class="jrnl-record">
                    {{template "jrnl.html" $record}}
                    <em>{{$record.Description}}; <wbr>{{$record.Date}}</em>
                </div>
                {{end}}
                {{end}}
            </div>
            {{end}}

            {{template "incoming.html" .Entry}}

            {{if eq .Entry.Index "embed"}}
              <hr/>
              {{range $child := .Entry.Children}}
                {{template "embeddedChild.html" $child}}
              {{end}}
            {{end}}
        </div>
    </body>

    {{template "footer.html" .}}

</html>
<html>
