<head>
  <meta charset="utf-8" />
  <meta name="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Marshall Moutenot" />
  <meta
    name="keywords"
    content="Marshall Moutenot, mrshll, upstream tech, climate tech"
  />
  <meta
    name="description"
    content="The place Marshall logs ephemera, writes, and stores public notes."
  />
  <meta
    name="license"
    content="name=BY-NC-SA(4.0), url=https://creativecommons.org/licenses/by-nc-sa/4.0/"
  />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="https://mastodon.social/@mrshll" rel="me" />
  <link href="mailto:m@mrshll.com" rel="me" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{EntryName}}" />
  <meta property="og:url" content="https://mrshll.com/{{EntryDestFilename}}" />
  <meta property="og:site_name" content="mrshll.com" />
  <meta property="og:email" content="m@mrshll.com" />
  <meta property="og:type" content="website" />
  <link rel="stylesheet" type="text/css" href="./links/normalize.css" />
  <link rel="stylesheet" type="text/css" href="./links/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="./links/main.css" />
  <title>mrshll.com - {{EntryName}}</title>
  <link href="https://webmention.io/mrshll.com/webmention" rel="webmention" />
  <link href="https://webmention.io/mrshll.com/xmlrpc" rel="pingback" />
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "CreativeWork",
      "author": { "@type": "Person", "name": "Marshall Moutenot" }
    }
  </script>
  <link rel="stylesheet" href="./highlight.min.css" />
  <script src="./highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  <link
    href="https://mrshll.com/feed.rss"
    rel="alternate"
    type="application/rss+xml"
    title="mrshll.com"
  />
  <script
    data-goatcounter="https://mrshll.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"
  ></script>
</head>
