<header>

    {{.NavHTMLString| noescape}}


    <!-- fm.mrsll.com code -->
    <div id='fm'>
        <div id='fm-on' style='display: none;'>
            <span>micro-radio station</span><br/>
            <blink>
                <span style='display: inline-block; height: 10px; width: 10px; border-radius: 5px; background-color: red;'></span>
            </blink>
            <span>on the air</span>
            <a id='fm-togglePlayButton' role='button' style='cursor: pointer;'>[Listen]</a>
        </div>

        <div id='fm-off' style='display: none;'>
            <span>micro-radio station</span><br/>
            <span style='display: inline-block; height: 10px; width: 10px; border-radius: 5px; background-color: grey;'></span>
            <span>off air</span>
        </div>
    </div>


</header>

<script>
 const onAir = document.getElementById('fm-on')
 const offAir = document.getElementById('fm-off')

 const togglePlayButton = document.getElementById('fm-togglePlayButton')
 togglePlayButton.onclick = togglePlay;

 let audioStream, isPlaying = false;

 function togglePlay () {
     if (!audioStream) {
         audioStream = new Audio('http://fm.mrshll.com/stream')
     }

     if (isPlaying) {
         audioStream.pause();
         isPlaying = false;
         togglePlayButton.innerHTML = '[Play]';
     } else {
         audioStream.play();
         isPlaying = true;
         togglePlayButton.innerHTML = '[Pause]';
     }
 }

 function setOnAir () {
     onAir.style='display: block;'
     offAir.style='display: none;'
 }

 function setOffAir () {
     onAir.style='display: none;'
     offAir.style='display: block;'
 }

 async function fetchLiveStatus() {
     try {
         const liveStatusResponse = await (await fetch(
             'https://fm.mrshll.com/status-json.xsl'
             // 'http://localhost:8000/status-json.xsl'
         )).json();
         setOnAir()
     } catch {
         setOffAir()
     }
 }

 fetchLiveStatus();
 setInterval(fetchLiveStatus, 30000);
</script>
