<!DOCTYPE html>

<head>
  <meta name='description' content='{{.Entry.Name}} - {{.Entry.Bref}}' />
  <meta name='thumbnail' content='' />
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <link rel='alternate' type='application/rss+xml' title='RSS Feed' href='./links/rss.xml' />
  <link rel='stylesheet' type='text/css' href='./links/normalize.css'>
  <link rel='stylesheet' type='text/css' href='./links/skeleton.css'>
  <link rel='stylesheet' type='text/css' href='./links/main.css'>
  <title>mrshll.com - {{.Entry.Name}}</title>
</head>