<head>
  <meta name="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Marshall Moutenot">
  <meta name="keywords" content="Marshall Moutenot, mrshll, upstream tech, climate tech" />
  <meta name="license" content="name=BY-NC-SA(4.0), url=https://creativecommons.org/licenses/by-nc-sa/4.0/" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://mastodon.social/@mrshll" rel="me">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{EntryName}}" />
  <link rel="stylesheet" type="text/css" href="./links/normalize.css">
  <link rel="stylesheet" type="text/css" href="./links/skeleton.css">
  <link rel="stylesheet" type="text/css" href="./links/main.css">
  <title>mrshll.com - {{EntryName}}</title>
</head>
