:root {
  --bg-color: white;
  --text-color: #4b4b4b;
  --header-color: #353535;
  --link-color: #3d7496;
  --highlight-color: #fff9b5;
  --accent-color: tomato;
  --bg-contrast-color: lightgrey;
}

[data-theme="dark"] {
  --bg-color: #353535;
  --text-color: #b4b4b4;
  --header-color: #cacaca;
  --link-color: #93bdd8;
  --highlight-color: darkslategrey;
  --bg-contrast-color: black;
}

body {
  font-family: monospace;
  font-size: 1.4rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  background-color: var(--link-color);
  color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  font-weight: 700;
  color: var(--header-color);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  text-transform: uppercase;
  text-decoration: underline;
}

mark {
  background-color: var(--highlight-color);
}

header {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 1.5px dotted;
}

#fm {
  position: absolute;
  top: 0;
  right: 0;
}

nav {
  font-size: 1.4rem;
  display: flex;
  overflow-x: auto;
}

hr {
  border: none;
  height: .4rem;
  width: 10rem;
  background-color: var(--text-color);
  overflow: visible;
  text-align: right;
  height: 5px;
  margin-left: 0;
}

article {
  margin: 2rem 0;
}

p {
  margin-bottom: 1.2rem;
}

s {
  text-decoration-style: solid;
  text-decoration-color: var(--accent-color);
}

ol, ul, dl {
  margin: 1rem 0 1rem 2rem;
  list-style-position: outside;
}

li {
  margin-bottom: .4rem;
}

nav ul {
  padding: 0;
  margin: 0 2rem 0 0;
}

nav ul li {
  list-style-type: none;
  white-space: pre;
  margin-bottom: 0.4rem;
}

li.sublist-container::marker {
  content: "";
}

footer {
  border-top: 1.5px dotted;
  padding: 3rem 4.6rem 0;
  max-width: 720px;
  position: relative;
}

blockquote {
  border-left: 4px solid var(--bg-contrast-color);
  padding-left: 2rem;
  margin-left: 2rem;

}

code, blockquote cite {
  background-color: var(--bg-contrast-color);
  border: none;
}

footer .footer-row > *{
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 3rem;
  vertical-align: middle;
  font-size: 1.4rem;
}

[data-theme='dark'] footer img {
  filter: invert(100%);
}



dl dd, details {
  margin-top: .2rem;
  margin-bottom: .4rem;
}

details {
  display: inline-block;
  border: 1px solid var(--bg-contrast-color);
  border-radius: .4rem;
  padding: .4rem 1rem 0;
  margin-right: .4rem;
}

summary {
  margin: -.4rem -1rem 0;
  padding: .4rem 1rem;
}

details[open] {
  padding: .4rem 1rem;
  display: block;
}

.incoming {
  display: table;
}

details[open] summary {
  border-bottom: 1px solid var(--bg-contrast-color);
  margin-bottom: .5em;
}

.content {
  max-width: 720px;
  padding: 2rem 4.6rem;
  font-size: 1.4rem;
  position: relative;
}

#entry-body {
  margin: 2rem 0;
}

.content img, .content video {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  display: block;
  margin-bottom: 1.6rem;
}

/* .jrnl-record em, #entry-body video + em { */
/*   display: block; */
/*   background-color: var(--bg-contrast-color); */
/*   padding: .4rem .6rem; */
/*   margin-top: -1.6rem; */
/*   margin-bottom: 1.6rem; */
/* } */

.jrnl-record {
  position: relative;
}

.jrnl-record img, .jrnl-record video {
  max-width: 100%;
  max-height: 48rem;
  height: auto;
  object-position: left top;
}

.jrnl-record em {
  position: absolute;
  bottom: 1rem;
  left: .4rem;
  font-size: 1.4rem;
  background-color: var(--bg-contrast-color);
  padding: 0 .4rem;
}

#low-tech-webring:hover table {
  visibility: visible;
}


#low-tech-webring table {
  position: fixed;
  visibility: hidden;
  padding: 0 1rem;
  display: block;
  border: 1px solid var(--bg-contrast-color);
  background-color: var(--bg-color);
  left: 0;
  right: 0;
  bottom: 0;
}

#low-tech-webring table td {
  border: 0;
}

#lightswitch {
  position: absolute;
  height: 4rem;
  top: calc(50% - 2rem);
  right: 4rem;
}

#lightswitch input, #lightswitch label {
  position: absolute;
}

#lightswitch input {
  display: none;
}

#lightswitch input + label:after {
  font-size: 2rem;
  content: '💡'
}

#lightswitch input:checked + label:after {
  content: '🕯️'
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .content {
    padding: 2rem 2.2rem;
  }

  footer {
    padding: 2rem 2.2rem 0;
  }

  #fm {
    position: relative;
    text-align: right;
  }
}

blink { animation: blink 1s linear infinite alternate; }

@keyframes blink {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
