body {
  font-family: monospace;
  font-size: 1.2rem;
  color: #4b4b4b;
  font-weight: 400;
  line-height: 1.6; 
}

a {
  text-decoration: none;
  color: #3d7496;
}

a:hover {
  background-color: #3d7496;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  font-weight: 700;
  color: #353535;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

mark {
  background-color: #fff9b5;
}

nav {
  font-size: 1.2rem;
  display: flex;
  overflow-x: auto;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 1.5px dotted;
}

article {
  margin: 2rem 0;
}

p {
  margin-bottom: 1.2rem;
}

s {
  text-decoration-style: solid;
  text-decoration-color: #db0505;
}

ol, ul, dl {
  margin: 1rem 0 1rem 2rem;
  list-style-position: outside;
}

nav ul {
  padding: 0;
  margin: 0 2rem 0 0;
}

nav ul li {
  list-style-type: none;
  white-space: pre;
  margin-bottom: 0.4rem;
}

footer {
  border-top: 1.5px dotted;
  padding: 3rem 4.6rem 0;
  max-width: 720px;
}

blockquote {
  border-left: 4px solid #6d9ebc;
  padding-left: 2rem;
  margin-left: 2rem;

}

blockquote cite {
  background-color: lightgrey;
}

footer .footer-row > *{
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 3rem;
  vertical-align: middle;
  font-size: 1.2rem;
}

hr {
    border: none;
    border-top: 1px dashed lightgray;
    color: lightgray;
    overflow: visible;
    text-align: right;
    height: 5px;
    width: 10rem;
    margin-left: 0;
}


dl dd {
  margin-top: .2rem;
  margin-bottom: .4rem;
}

.content {
  max-width: 720px;
  padding: 2rem 4.6rem;
  font-size: 1.2rem;
  position: relative;
}

.incoming {
  display: table;
  margin-top: 2rem;
  border: 1px solid lightgrey;
  padding: 0.4rem 0.8rem;
}

#entry-body {
  margin: 2rem 0;
}

#entry-body img, #jrnl-recent img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  display: block;
  margin-bottom: 1.6rem;
}

#entry-body img + em, #jrnl-recent img + em {
  display: block;
  background-color: lightgray;
  padding: .4rem .6rem;
  margin-top: -1.6rem;
  margin-bottom: 1.6rem;
}

#jrnl-recent {
  right: -40rem;
  position: absolute;
  width: 40rem;
}

#jrnl-gallery .jrnl-record {
  position: relative;
}

#jrnl-gallery .jrnl-record img {
  width: 100%;
  height: auto;
}

#jrnl-gallery .jrnl-record img + em {
  position: absolute;
  bottom: 1rem;
  left: .4rem;
  font-size: 1.4rem;
  background-color: lightgray;
  padding: 0 .4rem;
}

#low-tech-webring:hover table {
  visibility: visible;
}


#low-tech-webring table {
  position: fixed;
  visibility: hidden;
  padding: 0 1rem;
  display: block;
  border: 1px solid lightgrey;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
}

#low-tech-webring table td {
  border: 0;
}

@media screen and (max-width: 1240px) {
  #jrnl-recent {
    position: relative;
    max-width: 100%;
    padding: 0;
    right: auto;
  }

}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .content {
    padding: 2rem 2.2rem;
  }

  footer {
    padding: 2rem 2.2rem 0;
  }
}
